@{
    Layout = "_MenuLayout";
}

@model CenterListView[]

<!-- Search -->
<div class="flex justify-center items-center" style="margin-top: 20px;">
    <label for="simple-search" class="sr-only">Search</label>
    <div class="relative w-50">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input onkeyup="fuzzySearch()" type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escribe..." required>
    </div>
    <button onclick="resetSearch()" class="text-2xl" title="Cancelar búsqueda">🗑️</button>
</div>

@section scriptsMenuLayout {
    <script>
        const list = @Html.Raw(Json.Serialize(Model));

        function initialList() {
            let html = '';
            list.forEach(center => {
                html += `
                    <a href='Centers/CenterDetails?id=${center.id}' class="flex flex-col gap-6 justify-between p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 overflow-hidden">

                        <div class="flex justify-between flex-wrap items-center text-gray-500 overflow-hidden">
                            <span class="text-sm">${center.telephone}</span>
                            <span class="text-sm">${center.email}</span>
                        </div>

                        <div class="text-gray-500 overflow-hidden">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">${center.centerName}</h5>
                            <img class="w-7 h-7 rounded-full" src="" alt="${center.director} avatar" />
                        </div>

                        <div class="flex items-center space-x-4">
                            <img class="w-7 h-7 rounded-full" src="" alt="${center.director} avatar" />
                            <span class="font-medium dark:text-white">
                                ${center.director}
                            </span>
                        </div>
                    </a>`;
            });

            $("#centers-list").html(html);
        }

        function resetSearch() {
            $("#simple-search").val('');
            initialList();
        }

        initialList();

        const options = {
            keys: [
                "email",
                "director",
                'centerName',
                'telephone'
            ]
        };

        const fuse = new Fuse(list, options);

        function fuzzySearch() {
            const pattern = $("#simple-search").val();

            if (pattern == null || pattern == "") {
                resetSearch();
                return;
            }

            const results = fuse.search(pattern);

            let html = "";
            results.forEach(result => {
                const center = result.item;

                html += `
                <a href='Centers/CenterDetails?id=${center.id}' class="flex flex-col gap-6 justify-between p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 overflow-hidden">

                    <div class="flex justify-between flex-wrap items-center text-gray-500 overflow-hidden">
                        <span class="text-sm">${center.telephone}</span>
                        <span class="text-sm">${center.email}</span>
                    </div>

                    <div class="text-gray-500 overflow-hidden">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">${center.centerName}</h5>
                        <img class="w-7 h-7 rounded-full" src="" alt="${center.director} avatar" />
                    </div>

                    <div class="flex items-center space-x-4">
                        <img class="w-7 h-7 rounded-full" src="" alt="${center.director} avatar" />
                        <span class="font-medium dark:text-white">
                            ${center.director}
                        </span>
                    </div>
                </a>`;
            });

            $("#centers-list").html(html);
        }
    </script>
}

<!-- My Centers -->
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Mis centros</h2>
        </div>
        <!-- Display all the Centers -->
        <div id="centers-list" class="grid gap-8 md:grid-cols-2 lg:grid-cols-4">
        </div>
    </div>
</section>
