USE [master]
GO
/****** Object:  Database [MOODREBOOT]    Script Date: 28/02/2023 21:10:48 ******/
CREATE DATABASE [MOODREBOOT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MOODREBOOT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\MOODREBOOT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MOODREBOOT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\MOODREBOOT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MOODREBOOT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MOODREBOOT]
GO
/****** Object:  Table [dbo].[CENTER]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CENTER](
	[CENTER_ID] [int] NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](150) NOT NULL,
	[IMAGE] [nvarchar](max) NULL,
	[TELEPHONE] [int] NOT NULL,
 CONSTRAINT [PK_CENTER] PRIMARY KEY CLUSTERED 
(
	[CENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTENT]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENT](
	[CONTENT_ID] [int] NOT NULL,
	[TEXT] [nvarchar](max) NOT NULL,
	[GROUP_CONTENT_ID] [int] NOT NULL,
	[FILE_ID] [int] NULL,
 CONSTRAINT [PK_CONTENT] PRIMARY KEY CLUSTERED 
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTENT_COURSE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENT_COURSE](
	[GROUP_CONTENT_ID] [int] NOT NULL,
	[NAME] [nchar](50) NOT NULL,
	[IS_VISIBLE] [bit] NOT NULL,
	[COURSE_ID] [int] NOT NULL,
 CONSTRAINT [PK_CONTENT_COURSE] PRIMARY KEY CLUSTERED 
(
	[GROUP_CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[COURSE_ID] [int] NOT NULL,
	[DATE_PUBLISHED] [datetime] NOT NULL,
	[DATE_MODIFIED] [datetime] NULL,
	[GROUP_ID] [int] NULL,
	[DESCRIPTION] [nvarchar](350) NULL,
	[IMAGE] [nvarchar](max) NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CENTER_ID] [int] NOT NULL,
	[IS_VISIBLE] [bit] NOT NULL,
 CONSTRAINT [PK_COURSE] PRIMARY KEY CLUSTERED 
(
	[COURSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE](
	[FILE_ID] [int] NOT NULL,
	[USER_ID] [int] NULL,
	[MIME_TYPE] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_FILE] PRIMARY KEY CLUSTERED 
(
	[FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP](
	[GROUP_ID] [int] NOT NULL,
	[IMAGE] [nvarchar](max) NULL,
	[NAME] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_GROUP] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE](
	[MESSAGE_ID] [int] NOT NULL,
	[GROUP_ID] [int] NOT NULL,
	[TEXT] [nvarchar](350) NULL,
	[USER_ID] [int] NOT NULL,
	[DATE_POSTED] [datetime] NOT NULL,
	[FILE_ID] [int] NULL,
	[SEEN] [bit] NOT NULL,
	[USERNAME] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[MESSAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [int] NOT NULL,
	[EMAIL] [nvarchar](254) NOT NULL,
	[PASSWORD] [nvarchar](max) NOT NULL,
	[USERNAME] [nvarchar](30) NOT NULL,
	[FIRST_NAME] [nvarchar](30) NOT NULL,
	[LAST_NAME] [nvarchar](30) NOT NULL,
	[SIGN_DATE] [datetime] NOT NULL,
	[IMAGE] [nvarchar](max) NULL,
	[ROLE] [nvarchar](10) NOT NULL,
	[LAST_SEEN] [datetime] NULL,
	[SALT] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__USER__161CF72423A73214] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__USER__161CF72482F72AEE] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__USER__B15BE12E9D472A34] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__USER__B15BE12ED1B98C1E] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_CENTER]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_CENTER](
	[USER_ID] [int] NOT NULL,
	[CENTER_ID] [int] NOT NULL,
	[IS_EDITOR] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_COURSE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_COURSE](
	[USER_ID] [int] NOT NULL,
	[COURSE_ID] [int] NOT NULL,
	[IS_EDITOR] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_GROUP]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_GROUP](
	[USER_ID] [int] NOT NULL,
	[GROUP_ID] [int] NULL,
	[JOIN_DATE] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_CONTENT_COURSE] FOREIGN KEY([GROUP_CONTENT_ID])
REFERENCES [dbo].[CONTENT_COURSE] ([GROUP_CONTENT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CONTENT] CHECK CONSTRAINT [FK_CONTENT_CONTENT_COURSE]
GO
ALTER TABLE [dbo].[CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_FILE] FOREIGN KEY([CONTENT_ID])
REFERENCES [dbo].[FILE] ([FILE_ID])
GO
ALTER TABLE [dbo].[CONTENT] CHECK CONSTRAINT [FK_CONTENT_FILE]
GO
ALTER TABLE [dbo].[CONTENT_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_COURSE_COURSE] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSE] ([COURSE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CONTENT_COURSE] CHECK CONSTRAINT [FK_CONTENT_COURSE_COURSE]
GO
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_CENTER] FOREIGN KEY([CENTER_ID])
REFERENCES [dbo].[CENTER] ([CENTER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COURSE] CHECK CONSTRAINT [FK_COURSE_CENTER]
GO
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUP] ([GROUP_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[COURSE] CHECK CONSTRAINT [FK_COURSE_GROUP]
GO
ALTER TABLE [dbo].[FILE]  WITH CHECK ADD  CONSTRAINT [FK_FILE_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[FILE] CHECK CONSTRAINT [FK_FILE_USER]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGE_FILE] FOREIGN KEY([FILE_ID])
REFERENCES [dbo].[FILE] ([FILE_ID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_MESSAGE_FILE]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGE_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUP] ([GROUP_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_MESSAGE_GROUP]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGE_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_MESSAGE_USER]
GO
ALTER TABLE [dbo].[USER_CENTER]  WITH CHECK ADD  CONSTRAINT [FK_USER_CENTER_CENTER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[CENTER] ([CENTER_ID])
GO
ALTER TABLE [dbo].[USER_CENTER] CHECK CONSTRAINT [FK_USER_CENTER_CENTER]
GO
ALTER TABLE [dbo].[USER_CENTER]  WITH CHECK ADD  CONSTRAINT [FK_USER_CENTER_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_CENTER] CHECK CONSTRAINT [FK_USER_CENTER_USER]
GO
ALTER TABLE [dbo].[USER_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_USER_COURSE_COURSE] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[COURSE] ([COURSE_ID])
GO
ALTER TABLE [dbo].[USER_COURSE] CHECK CONSTRAINT [FK_USER_COURSE_COURSE]
GO
ALTER TABLE [dbo].[USER_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_USER_COURSE_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_COURSE] CHECK CONSTRAINT [FK_USER_COURSE_USER]
GO
ALTER TABLE [dbo].[USER_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_USER_GROUP_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUP] ([GROUP_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_GROUP] CHECK CONSTRAINT [FK_USER_GROUP_GROUP]
GO
ALTER TABLE [dbo].[USER_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_USER_GROUP_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_GROUP] CHECK CONSTRAINT [FK_USER_GROUP_USER]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [CK__USER__ROLE] CHECK  (([ROLE]='ADMIN' OR [ROLE]='USER'))
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [CK__USER__ROLE]
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_CENTER]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CREATE_CENTER]
(@EMAIL NVARCHAR(255), @NAME NVARCHAR(50), @ADDRESS NVARCHAR(150), @TELEPHONE NVARCHAR(15), @IMAGE NVARCHAR(MAX) = NULL)
AS
	--Generate new ID
	DECLARE @NEWID INT;
	SELECT @NEWID = MAX(CENTER_ID) + 1 FROM CENTER;
	--Insert new center
	INSERT INTO CENTER VALUES(@NEWID, @EMAIL, @NAME, @ADDRESS, @IMAGE, @TELEPHONE);
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_CONTENT]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CREATE_CONTENT]
(@CONTENT NVARCHAR(MAX), @GROUPCONTENT INT, @FILEID INT = '')
AS
	--Generate new ID
	DECLARE @NEWID INT;
	SELECT @NEWID = MAX(CONTENT_ID) + 1 FROM CONTENT;

	INSERT INTO CONTENT VALUES (@NEWID, @CONTENT, @GROUPCONTENT, @FILEID);
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_COURSE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_CREATE_COURSE]
(@NAME NVARCHAR(30), @CENTER_ID INT, @DESCRIPTION NVARCHAR(350) = '', @IMAGE NVARCHAR(MAX) = '')
AS
	DECLARE @GROUP_ID INT;
	DECLARE @COURSE_ID INT;

	--Create a group for discussion
	SELECT @GROUP_ID = (MAX([GROUP].GROUP_ID) + 1) FROM [GROUP];
	INSERT INTO [GROUP] VALUES (@GROUP_ID, @IMAGE, @NAME);

	--Insert the course
	SELECT @COURSE_ID = (MAX([USER].[USER_ID]) + 1) FROM [USER];

	INSERT INTO COURSE VALUES
	(@COURSE_ID, GETDATE(), GETDATE(), @GROUP_ID, @DESCRIPTION, @IMAGE, @NAME, @CENTER_ID);
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_FILE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CREATE_FILE]
(@MIME_TYPE NVARCHAR(100), @USER_ID INT = '')
AS
	DECLARE @FILEID INT;
	SELECT @FILEID = MAX([FILE_ID]) + 1 FROM [FILE];

	INSERT INTO [FILE] VALUES (@FILEID, @USER_ID, @MIME_TYPE);
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_GROUP]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_CREATE_GROUP]
(@NAME NVARCHAR(45), @IMAGE NVARCHAR(MAX) = '')
AS
	DECLARE @GROUP_ID INT;
	SELECT @GROUP_ID = (MAX([GROUP].GROUP_ID) + 1) FROM [GROUP];
	INSERT INTO [GROUP] VALUES (@GROUP_ID, @IMAGE, @NAME);
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_GROUP_CONTENT]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CREATE_GROUP_CONTENT]
(@NAME NVARCHAR(50), @COURSE_ID INT, @IS_VISIBLE BIT = 1)
AS
	DECLARE @NEW_ID INT;
	SELECT @NEW_ID = MAX(GROUP_CONTENT_ID) + 1 FROM CONTENT_COURSE;

	INSERT INTO CONTENT_COURSE VALUES (@NEW_ID, @NAME, @IS_VISIBLE, @COURSE_ID);
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_MESSAGE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_CREATE_MESSAGE]
(@GROUP_ID INT, @USER_ID INT , @CONTENT NVARCHAR(350) = '', @FILE_ID INT = '', @ERROR_MESSAGE NVARCHAR(150) OUTPUT)
AS
	--If the message isn't empty
	IF(@CONTENT = '' AND @FILE_ID = '') BEGIN
		SET @ERROR_MESSAGE = 'Empty message';
		RETURN @ERROR_MESSAGE;
	END
	--Get new message ID
	DECLARE @MESSAGE_ID INT;
	SELECT @MESSAGE_ID = (MAX([MESSAGE].MESSAGE_ID) + 1) FROM [MESSAGE];
	--Insert the message
	INSERT INTO [MESSAGE] VALUES (@MESSAGE_ID, @GROUP_ID, @CONTENT, @USER_ID, GETDATE(), @FILE_ID);
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_USER]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CREATE_USER]
@EMAIL NVARCHAR(255),
@PASSWORD NVARCHAR(12),
@USERNAME NVARCHAR(30),
@FIRST_NAME NVARCHAR(30),
@LAST_NAME NVARCHAR(30),
@IMAGE NVARCHAR(MAX) = '',
@ROLE NVARCHAR(10) = 'USER',
@RESPONSE_MESSAGE NVARCHAR(250) OUTPUT
AS
    SET NOCOUNT ON

	DECLARE @salt UNIQUEIDENTIFIER=NEWID()
	BEGIN TRY

		DECLARE @NEW_ID INT;
		SELECT @NEW_ID = (MAX([USER].[USER_ID]) + 1) FROM [USER];

		--In case is the first user
		IF(@NEW_ID IS NULL) BEGIN
			SET @NEW_ID = 0
		END

		IF(@ROLE IS NULL) BEGIN
			SET @ROLE = 'USER';
		END

		DECLARE @EXISTING_USERS INT;
		SELECT @EXISTING_USERS = COUNT([USER].[USER_ID]) FROM [USER] WHERE [EMAIL] = @EMAIL AND [USERNAME] = @USERNAME;

		--Insert if the user doesn't exist
		IF(@EXISTING_USERS = 0) BEGIN
			INSERT INTO [USER]
			VALUES(@NEW_ID, @EMAIL, HASHBYTES('SHA2_512', @PASSWORD+CAST(@salt AS NVARCHAR(36))), @USERNAME, @FIRST_NAME, @LAST_NAME, GETDATE(), @IMAGE, @ROLE, null, CAST(@salt AS NVARCHAR(36)));

			SET @RESPONSE_MESSAGE='Success'
		END

	END TRY
	BEGIN CATCH
		SET @RESPONSE_MESSAGE=ERROR_MESSAGE() 
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_CENTER]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DELETE_CENTER]
(@CENTER_ID INT)
AS
	DELETE FROM CENTER WHERE CENTER_ID = @CENTER_ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_CONTENT]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DELETE_CONTENT]
(@CONTENTID INT)
AS
	DELETE FROM CONTENT WHERE CONTENT_ID = @CONTENTID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_COURSE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DELETE_COURSE]
(@COURSE_ID INT)
AS
	--Get the associated discussion group id
	DECLARE @GROUP_ID INT;
	SELECT @GROUP_ID = [COURSE].GROUP_ID FROM COURSE WHERE COURSE_ID = @COURSE_ID;
	--Delete the group
	DELETE FROM [GROUP] WHERE GROUP_ID = @GROUP_ID;
	--Delete the course
	DELETE FROM COURSE WHERE COURSE_ID = @COURSE_ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_FILE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DELETE_FILE]
(@FILEID INT)
AS
	DELETE FROM [FILE] WHERE [FILE_ID] = @FILEID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_GROUP]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DELETE_GROUP]
(@GROUP_ID INT)
AS
	DELETE FROM [GROUP] WHERE GROUP_ID = @GROUP_ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_GROUP_CONTENT]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DELETE_GROUP_CONTENT]
(@GROUP_CONTENT_ID INT)
AS
	DELETE FROM CONTENT_COURSE WHERE GROUP_CONTENT_ID = @GROUP_CONTENT_ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_USER]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DELETE_USER]
(@EMAIL NVARCHAR(255), @USERNAME NVARCHAR(30))
AS
	DELETE FROM [USER] WHERE EMAIL = @EMAIL AND USERNAME = @USERNAME;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CENTER]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_CENTER]
(@CENTER_ID INT, @EMAIL NVARCHAR(255), @NAME NVARCHAR(50), @ADDRESS NVARCHAR(150), @IMAGE NVARCHAR(MAX) = NULL, @TELEPHONE NVARCHAR(15))
AS
	UPDATE CENTER SET EMAIL = @EMAIL, NAME = @NAME, ADDRESS = @ADDRESS, IMAGE = @IMAGE, TELEPHONE = @TELEPHONE
	WHERE CENTER_ID = @CENTER_ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CONTENT]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_CONTENT]
(@CONTENTID INT, @CONTENT NVARCHAR(MAX))
AS
	UPDATE CONTENT SET CONTENT = @CONTENT
	WHERE CONTENT_ID = @CONTENTID;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_COURSE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_COURSE]
(@COURSE_ID INT, @NAME NVARCHAR(30), @DESCRIPTION NVARCHAR(350) = '', @IMAGE NVARCHAR(MAX) = '')
AS
	UPDATE [COURSE] SET [NAME] = @NAME, [IMAGE] = @IMAGE, [DESCRIPTION] = @DESCRIPTION
	WHERE [COURSE].COURSE_ID = @COURSE_ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_GROUP]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_GROUP]
(@GROUP_ID INT, @NAME NVARCHAR(45), @IMAGE NVARCHAR(MAX) = '')
AS
	UPDATE [GROUP] SET NAME = @NAME, IMAGE = @IMAGE;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_GROUP_CONTENT]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_GROUP_CONTENT]
(@GROUP_CONTENT_ID INT, @NAME NVARCHAR(50) = '', @IS_VISIBLE BIT = '')
AS
	IF(@NAME != '') BEGIN
		UPDATE CONTENT_COURSE SET NAME = @NAME WHERE GROUP_CONTENT_ID = @GROUP_CONTENT_ID;
	END

	IF(@IS_VISIBLE != '') BEGIN
		UPDATE CONTENT_COURSE SET IS_VISIBLE = @IS_VISIBLE WHERE GROUP_CONTENT_ID = @GROUP_CONTENT_ID;
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_USER_EMAIL]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_USER_EMAIL]
(@EMAIL NVARCHAR(255), @USERNAME NVARCHAR(30), @NEW_EMAIL NVARCHAR(255))
AS
	UPDATE [USER] SET [EMAIL] = @NEW_EMAIL
	WHERE [USERNAME] = @USERNAME AND [EMAIL] = @EMAIL;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_USER_IMAGE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_USER_IMAGE]
(@EMAIL NVARCHAR(255), @IMAGE NVARCHAR(MAX))
AS
	UPDATE [USER] SET [IMAGE] = @IMAGE
	WHERE [EMAIL] = @EMAIL;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_USER_LASTSEEN]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_USER_LASTSEEN]
(@EMAIL NVARCHAR(255) = '', @USERNAME NVARCHAR(30) = '', @LAST_SEEN DATETIME)
AS
	UPDATE [USER] SET [LAST_SEEN] = @LAST_SEEN
	WHERE [USERNAME] = @USERNAME OR [EMAIL] = @EMAIL;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_USER_PASSWORD]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_USER_PASSWORD]
(@EMAIL NVARCHAR(255), @USERNAME NVARCHAR(30), @PASSWORD NVARCHAR(12))
AS
	UPDATE [USER] SET [PASSWORD] = @PASSWORD
	WHERE [USERNAME] = @USERNAME AND [EMAIL] = @EMAIL;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_USER_ROLE]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_USER_ROLE]
(@EMAIL NVARCHAR(255), @USERNAME NVARCHAR(30), @ROLE NVARCHAR(10))
AS
	IF(@ROLE = 'ADMIN' OR @ROLE = 'USER') BEGIN
		UPDATE [USER] SET [ROLE] = @ROLE
		WHERE [USERNAME] = @USERNAME AND [EMAIL] = @EMAIL;
		
		RETURN 1;
	END
	ELSE BEGIN
		RETURN 0;
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_USER_USERNAME]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_USER_USERNAME]
(@EMAIL NVARCHAR(255), @USERNAME NVARCHAR(30), @NEW_USERNAME NVARCHAR(30))
AS
	UPDATE [USER] SET [USERNAME] = @NEW_USERNAME
	WHERE [USERNAME] = @USERNAME AND [EMAIL] = @EMAIL;
GO
/****** Object:  StoredProcedure [dbo].[SP_USER_CENTERS]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_USER_CENTERS]
(@USER_ID INT)
AS
	SELECT  C.ADDRESS, C.CENTER_ID, C.EMAIL, C.IMAGE, C.NAME, C.NAME, C.TELEPHONE, UC.IS_EDITOR
	FROM CENTER C INNER JOIN USER_CENTER UC
	ON C.CENTER_ID = UC.CENTER_ID
	WHERE UC.USER_ID = @USER_ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_USER_LOGIN]    Script Date: 28/02/2023 21:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_USER_LOGIN]
    @EMAIL NVARCHAR(254) = '',
    @USERNAME NVARCHAR(50) = '',
	@PASSWORD NVARCHAR(12),
    @RESPONSE_MESSAGE NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @userID INT

    IF EXISTS (SELECT TOP 1 [USER_ID] FROM [USER] WHERE USERNAME=@USERNAME OR EMAIL=@EMAIL)
    BEGIN
        SET @userID=(SELECT [USER_ID] FROM [USER] WHERE (USERNAME=@USERNAME OR EMAIL=@EMAIL) AND [PASSWORD]=HASHBYTES('SHA2_512', @PASSWORD+CAST([SALT] AS NVARCHAR(36))))

       IF(@userID IS NULL)
           SET @RESPONSE_MESSAGE='Incorrect password'
       ELSE 
           SET @RESPONSE_MESSAGE='User successfully logged in'
    END
    ELSE
       SET @RESPONSE_MESSAGE='Invalid login'
	END
GO
USE [master]
GO
